/* POS side bar styles */

.layout-region-pos-main {
    float: left;
}

.layout-region-pos-sidebar {
    float: right;
}

.commerce-pos-keypad {
    width: 75%
}

.commerce-pos-keypad * {
    box-sizing: border-box
}

#commerce-pos-pay-form-wrapper .commerce-pos-keypad-amount .form-item-keypad-amount {
    margin-bottom: 0
}

#commerce-pos-pay-form-wrapper .commerce-pos-keypad-amount .form-item label {
    font-size: 24px;
    margin-bottom: 10px
}

#commerce-pos-pay-form-wrapper .commerce-pos-keypad-amount .form-item-keypad-amount input {
    max-width: 100% !important;
    margin: 0 0 20px 0;
    padding: 15px 20px;
    height: auto;
    background: #FFFFFF !important;
    color: #000;
    border: 2px solid #D6D6D6;
    font-size: 30px;
    text-align: right;
    -webkit-box-shadow: inset 0 0 6px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 6px 2px rgba(0, 0, 0, 0.1)
}

#commerce-pos-pay-form-wrapper .commerce-pos-keypad-amount .form-item-keypad-amount input.error {
    border: 2px solid red
}

#commerce-pos-pay-form-wrapper .commerce-pos-keypad-quick-pay {
    margin-bottom: 15px
}

#commerce-pos-pay-form-wrapper .commerce-pos-keypad-quick-pay::after {
    clear: both;
    content: '';
    display: block
}

#commerce-pos-pay-form-wrapper .commerce-pos-keypad-quick-pay .commerce-pos-keypad-quick-pay-button {
    float: left;
    margin-right: 10px
}

#commerce-pos-pay-form-wrapper .commerce-pos-keypad-quick-pay .commerce-pos-keypad-quick-pay-button:last-of-type {
    margin-right: 0
}

#commerce-pos-pay-form-wrapper .commerce-pos-keypad-quick-pay input[type="submit"] {
    background-color: #337ab7;
    color: #fff;
    border-color: transparent;
    padding: 15px 20px;
    font-size: 20px;
    margin-right: 0
}

#commerce-pos-pay-form-wrapper .commerce-pos-keypad-quick-pay input[type="submit"]:hover, #commerce-pos-pay-form-wrapper .commerce-pos-keypad-quick-pay input[type="submit"]:focus {
    background-color: #2e6da4
}

.commerce-pos-keypad .commerce-pos-keypad-numbers {
    position: relative
}

.commerce-pos-keypad .commerce-pos-keypad-keys {
    overflow: hidden;
    border-right: 1px solid #D6D6D6
}

.commerce-pos-keypad .commerce-pos-keypad-key {
    box-sizing: border-box;
    width: 33.33%;
    display: block;
    float: left;
    padding: 14px;
    border: 1px solid #D6D6D6;
    border-right: 0;
    border-bottom: 0;
    font-size: 22px;
    text-align: center;
    background-color: #F0F0F0;
    color: #000000;
    cursor: pointer;
    transition: all .1s ease 0s
}

.commerce-pos-keypad .commerce-pos-keypad-key:hover, .commerce-pos-keypad .commerce-pos-keypad-key:focus {
    background-color: #E4E4E4
}

#commerce-pos-location-float-form #edit-actions {
    margin-top: -6px
}

#commerce-pos-location-float-form #edit-amount {
    height: 32px;
    margin-top: 5px
}

.commerce-pos-keypad-key.pressed {
    background-color: #E4E4E4
}

.commerce-pos-keypad-actions button {
    width: 33%;
    padding: 15px;
    margin-right: 10px;
    border: 10px solid white;
    border-radius: 30px;
    float: right;
    font-size: 2em
}

.commerce-pos-keypad-actions button:hover, .commerce-pos-keypad-actions button:focus {
    border-color: white
}

.form-type-textfield.form-item-keypad-amount.form-text {
    width: 100%;
    padding: 40px 20px;
    background: #666;
    color: #fff;
    border: 0;
    border-right: 1px solid #fff;
    font-size: 50px;
    text-align: right
}

.commerce-pos-keypad-key:last-of-type {
    background-color: #E4E4E4;
    color: #000
}

.commerce-pos-keypad-key:last-of-type:hover, .commerce-pos-keypad-key:last-of-type:focus {
    background-color: #DADADA
}

#commerce-pos-pay-form-wrapper .commerce-pos-keypad-actions input[type="submit"] {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 62px;
    margin: 0;
    padding: 13px 15px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background: #337ab7;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    transition: all .15s ease-in-out
}

#commerce-pos-pay-form-wrapper .commerce-pos-keypad-actions input[type="submit"]:hover, #commerce-pos-pay-form-wrapper .commerce-pos-keypad-actions input[type="submit"]:focus {
    background-color: #2e6da4
}

@media screen and (max-width: 767px) {
    .commerce-pos-keypad-amount .form-item-keypad-amount input {
        font-size: 30px
    }

    .commerce-pos-keypad-key {
        font-size: 20px
    }

    .commerce-pos-keypad-key, #commerce-pos-pay-form-wrapper .commerce-pos-keypad-actions input[type="submit"] {
        padding: 10px
    }

    #commerce-pos-pay-form-wrapper .commerce-pos-keypad-actions input[type="submit"] {
        height: 51px
    }
}

@media screen and (max-width: 980px) {
    .commerce-pos-keypad {
        width: 100%
    }
}