/* POS side bar styles */
.layout-pos-form{
  box-sizing: border-box;
}
.layout-region-pos-main {
  float: left;
  width: 66.66%;
}

.layout-region-pos-sidebar {
  float: right;
  width: 29.33%;
  padding-left: 40px;
}
@media screen and (max-width: 767px) {
  .layout-region-pos-main {
    float: none;
    width: auto;
  }
  .layout-region-pos-sidebar {
    float: none;
    width: auto;
    padding-top:40px;
    padding-left: 0;
  }
}

.form-submit {
  margin-top: 20px;
}

.form-submit {
  margin-top: 20px;
}

#commerce-pos-pay-form-wrapper .commerce-pos-keypad-amount .form-item-keypad-amount {
  margin-bottom: 0
}

#commerce-pos-pay-form-wrapper .commerce-pos-keypad-amount .form-item label {
  font-size: 24px;
  margin-bottom: 10px
}

#commerce-pos-pay-form-wrapper .commerce-pos-keypad-amount .form-item-keypad-amount input {
  max-width: 100% !important;
  margin: 0 0 20px 0;
  padding: 15px 20px;
  height: auto;
  background: #FFFFFF !important;
  color: #000;
  border: 2px solid #D6D6D6;
  font-size: 30px;
  text-align: right;
  -webkit-box-shadow: inset 0 0 6px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 6px 2px rgba(0, 0, 0, 0.1)
}

#commerce-pos-pay-form-wrapper .commerce-pos-keypad-amount .form-item-keypad-amount input.error {
  border: 2px solid red
}

#commerce-pos-pay-form-wrapper .commerce-pos-keypad-quick-pay {
  margin-bottom: 15px
}

#commerce-pos-pay-form-wrapper .commerce-pos-keypad-quick-pay::after {
  clear: both;
  content: '';
  display: block
}

#commerce-pos-pay-form-wrapper .commerce-pos-keypad-quick-pay .commerce-pos-keypad-quick-pay-button {
  float: left;
  margin-right: 10px
}

#commerce-pos-pay-form-wrapper .commerce-pos-keypad-quick-pay .commerce-pos-keypad-quick-pay-button:last-of-type {
  margin-right: 0
}

#commerce-pos-pay-form-wrapper .commerce-pos-keypad-quick-pay input[type="submit"] {
  background-color: #337ab7;
  color: #fff;
  border-color: transparent;
  padding: 15px 20px;
  font-size: 20px;
  margin-right: 0
}

#commerce-pos,
#commerce-pos-pay-form-wrapper {
  input.commerce-pos-pay-keypad-remove {
    margin: 0;
    padding: 0 10px;
    border: none;
    background: none;
    color: $primary;
    cursor: pointer;
    box-shadow: none;
    &:hover,
    &:active,
    &:focus {
      box-shadow: none;
      text-decoration: underline;
    }
  }
}

#commerce-pos-pay-form-wrapper .commerce-pos-keypad-quick-pay input[type="submit"]:hover, #commerce-pos-pay-form-wrapper .commerce-pos-keypad-quick-pay input[type="submit"]:focus {
  background-color: #2e6da4
}

#commerce-pos-location-float-form #edit-actions {
  margin-top: -6px
}

#commerce-pos-location-float-form #edit-amount {
  height: 32px;
  margin-top: 5px
}

#commerce-pos-pay-form-wrapper .commerce-pos-keypad-actions input[type="submit"] {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 62px;
  margin: 0;
  padding: 13px 15px;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background: #337ab7;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  transition: all .15s ease-in-out
}

#commerce-pos-pay-form-wrapper .commerce-pos-keypad-actions input[type="submit"]:hover, #commerce-pos-pay-form-wrapper .commerce-pos-keypad-actions input[type="submit"]:focus {
  background-color: #2e6da4
}

.layout-region-pos-totals table tr td {
  font-weight: bold;
}
.layout-region-pos-totals table tr td:last-child {
  width: 35%;
}
.layout-region-pos-totals table tr {
  padding: 0;
  width: 100%;
  background-color: #F0F0F0;
  color: #333;
  border: 0;
  border-bottom: 1px solid #FFFFFF;
}
.layout-region-pos-totals table tr:hover {
  background-color: #F0F0F0;
}

.form-item-order-lookup-search-box {
  width: 200px;
  display: inline-block;
}

.order-lookup-search.button {
  display: inline-block;
}

#order-lookup-results {
  clear: both;
}
