//
//---SALE---
//
.commerce-pos-col-products {
  width: 100%;
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }
}

.commerce-pos-transaction-id {
  padding: 0 0 5px 0;
  font-size: 22px;
}

.payment-totals-table {
  .label {
    display: table-cell;
    text-align: left;
  }

  .balance {
    display: table-cell;
    text-align: right;
  }
}

#commerce-pos-sale-wrapper {
  a {
    color: $primary;
  }

  .form-item {
    margin: 20px 0;
    font-size: 14px;
  }
}

#commerce-pos-sale-wrapper, #commerce-pos-pay-form-wrapper {
  a {
    color: $primary;
  }

  a:hover, a:focus {
    color: $primary-hover;
    text-decoration: underline;
  }

  textarea,
  select,
  input {
    margin: 0;
    padding: 5px 10px;
    border-radius: 2px;
    height: auto;
    max-width: 100%;
    background: #fff;
    box-sizing: border-box;
    vertical-align: baseline;

    &.show-ajax-throbber {
      background-image: url(/misc/throbber.gif) !important;
      background-repeat: no-repeat !important;
      background-position: right -13px !important;
    }
  }

  button, input[type="reset"],
  input[type="submit"], input[type="button"] {
    -webkit-appearance: none;
    cursor: pointer;
    color: #333;
    font-weight: bold;
    font-size: 12px;
    outline: 0;
    overflow: visible;
    padding: 5px 10px;
    margin: 0 4px 0 0;
    width: auto;
    display: inline-block;
    border-radius: 2px;
    border: 1px solid #DADADA;
    background: #fff;
    transition: all .15s ease-in-out;
  }

  button:hover, input:hover, button:focus, input:focus {
    background: #f9f9f9;
  }
}

//
//---TRANSACTION TABS---
//
#commerce-pos-sale-wrapper {
  input[type="submit"].transaction-type-tab {
    border-radius: 5px;
    color: #666;
    background-color: #f5f5f5;
    display: inline-block;
    padding: 8px 20px;
    font-weight: normal;
    font-size: 20px;
    border: none;
    margin: 5px 10px 10px 0;

    &.active, &:hover {
      background-color: $primary;
      color: #fff;
      cursor: default;
    }
  }
}

//
//---LINE ITEMS---
//
.commerce-pos-transaction-line-items {
  border-top: 1px solid #eee;
  margin-bottom: 20px;

  * {
    vertical-align: middle;
  }

  > .form-wrapper > .form-wrapper .line-item-col {
    display: inline-block;
    margin: 5px 0;
    vertical-align: top;
  }

  .image-wrapper {
    width: 100px;
    padding-right: 2%;
  }

  .title-wrapper {
    width: calc(100% - 100px);
    font-size: 12px;
    line-height: 1.3;

    .out-of-stock-overridden-notice {
      color: red;
    }
  }

  .price-edit-wrapper,
  .quantity-wrapper {
    padding-right: 2%;
    text-align: left;
  }

  > .form-wrapper > .form-wrapper {
    clear: both;
    margin: 0;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
  }

  > .form-wrapper > .form-wrapper .form-item {
    display: inline-block;
  }

  > .form-wrapper > .form-wrapper .line-item-row-wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 16px
  }

  .total-wrapper {
    width: calc(100% - 250px);
    text-align: right;
  }
}

.commerce-pos-transaction-line-items > .form-wrapper > .form-wrapper label {
  padding: 0 2px;
  margin: 0;
  width: 100%;
  height: 38px;
  line-height: 38px;
  color: $primary;
  border: 1px solid transparent;
  font-size: 14px;
  font-weight: bold;
  transition: all .15s ease-in-out;

  &:hover,
  &:focus {
    background: rgba(0, 126, 255, 0.1);
  }
}

//
//---TITLE WRAPPER---
//
.commerce-pos-transaction-line-items {
  .title-wrapper .title {
    font-size: 14px;
    font-weight: bold;

    @media(min-width: 767px) {
      font-size: 16px;
    }
  }
}

.commerce-pos-transaction-line-items > .form-wrapper .stock-wrapper label {
  color: #000;
  font-weight: normal;
}

//
//---PRICE EDIT WRAPPER---
//
#commerce-pos-sale-wrapper .price-edit-wrapper .price-edit-input-wrapper {
  .form-item {
    margin: 0;
    padding: 0;
    width: 100%;
    border: 1px solid $border-color;
    border-radius: 2px;
  }

  label,
  input {
    color: $primary;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid transparent;
    border-radius: 0;
    height: 38px;
    line-height: 38px;
    padding: 0 2px;
    margin: 0;
    width: 100%;
    text-align: center;
  }
}

//
//---QUANTITY WRAPPER---
//
.commerce-pos-transaction-line-items .quantity-wrapper .add-remove-wrapper {
  display: inline-block !important;
  width: 20px;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 0;
  min-height: 0 !important;
  height: auto !important;
}

#commerce-pos-sale-wrapper .add-remove-wrapper {
  input[type="submit"] {
    width: 20px;
    height: 20px;
    vertical-align: top;
    padding: 0 !important;
    margin: 0;
    font-size: 13px;
    border-radius: 0;
    transition: all .1s ease-in-out;
    border: 1px solid $border-color;
  }

  input:first-of-type,
  button:first-of-type {
    border-bottom: 0;
    border-left: 0;
  }

  input:last-of-type,
  button:last-of-type {
    border-left: 0;
  }

  input[type="submit"]:hover,
  input[type="submit"]:focus,
  button:hover,
  button:focus {
    background: #EAEAEA;
  }

  input[type="submit"],
  button {
    display: block;
    margin: 0;
    padding: 2px 3px;
    width: 20px;
    height: 20px;
    font-size: 14px;
    line-height: 1;
    border-radius: 0;
  }
}

#commerce-pos-sale-wrapper .quantity-wrapper {
  input[type="text"] {
    height: 38px;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    line-height: 38px;
    text-align: center;
    padding: 0;
    margin: 0;
    color: $primary;
    border: 0;
    border-radius: 0;
  }

  input[type="text"]:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .textbox-wrapper {
    width: calc(100% - 20px);
    display: inline-block;
  }

  .textbox-wrapper .form-item {
    border: 1px solid $border-color;
    width: 100%;
    text-align: center;
    margin: 0 !important;
    border-radius: 2px 0 0 2px;
  }

  .form-type-textfield {
    margin: 13px 0 !important;
    padding: 0;
  }
}

#commerce-pos-sale-wrapper .price-edit-wrapper input:focus {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

//
//---TOTAL WRAPPER---
//
#commerce-pos-sale-wrapper .commerce-pos-transaction-line-items .total-wrapper {
  .btn {
    margin: 0 0 0 10px;
  }

  strong {
    margin-right: 5px;
    font-size: 14px;
  }

  input[type="submit"],
  button {
    position: relative;
    text-indent: -9999px;
    width: 10px;
    padding: 0;
    margin: 0 0 0 10%;
    opacity: 0.25;
    background: url(../images/remove-symbol.png) no-repeat center;
    background-size: 10px;
    border: 0;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}

//
//---DISCOUNT---
//
#commerce-pos-sale-wrapper .commerce-pos-discount-wrapper {
  position: relative;
  width: auto;
  text-align: center;

  .form-wrapper {
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 0 80px 0 0;
    max-width: 180px;
    vertical-align: middle;
  }

  .discount-description {
    margin-left: 10px;
    display: inline-block;
  }

  input.form-text {
    display: block;
    margin: 0 auto 5px auto;
    width: 100%;
    height: 30px;
    font-size: 12px !important;
    border: 1px solid $border-color;
  }

  .form-item {
    float: left;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    vertical-align: baseline;
  }

  .form-submit {
    display: block;
    margin: 9px auto;
    font-size: 12px;
  }

  input[type="submit"].button-link.small {
    display: inline-block;
    margin: 0 auto;
    vertical-align: top;
  }

  .form-group .form-submit {
    vertical-align: top;
    background: $primary;
    color: #fff;
    border: 1px solid transparent;
  }

  .form-wrapper input[type="submit"],
  .form-wrapper input[type="submit"].blue {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    margin: 0;
    padding: 0;
    width: 35px;
    height: 30px;
    background: $primary;
    color: #fff;
    border: none;

    &.commerce-pos-percent-discount-submit {
      right: 40px;
    }
  }
}

#commerce-pos-sale-wrapper .form-wrapper input[type="submit"].blue {
  display: inline-block;
  background: $primary;
  color: #fff;
  border: 1px solid transparent;
}

#commerce-pos-sale-wrapper .form-wrapper input[type="submit"].blue:hover,
#commerce-pos-sale-wrapper .form-wrapper input[type="submit"].blue:focus,
.commerce-pos-discount-wrapper .form-wrapper input[type="submit"]:hover,
.commerce-pos-discount-wrapper .form-wrapper input[type="submit"]:focus {
  background: $primary-hover;
}

.commerce-pos-discount-wrapper .form-item,
#commerce-pos-sale-wrapper .commerce-pos-discount-wrapper .form-item {
  float: none;
  margin: 0;
  padding: 0;
  width: 100%;
  border: none;
  border-radius: 0;
  vertical-align: baseline;
}

//
//---NOTES---
//
.views-field-message-commerce-body {
  padding: 20px;
  background: #F0F0F0;
  margin: 20px 0 5px;
}

.views-field-message-commerce-body p:last-of-type {
  margin-bottom: 0;
}

#commerce-pos-messages-wrapper {
  margin-bottom: 40px;

  .views-field-name,
  .views-field-timestamp {
    font-size: 12px;
  }
}

//
//---REFUND---
//
#commerce-pos-return-payment .commerce-price-formatted-components, .payment-totals-table {
  width: 100%;
  margin-bottom: 0;
}

@media screen and (min-width: 980px) {
  #commerce-pos-sale-wrapper .commerce-pos-transaction-line-items {
    > .form-wrapper > .form-wrapper .line-item-row-wrapper {
      display: table;
      width: 100%;
    }

    > .form-wrapper > .form-wrapper .line-item-col {
      position: relative;
      display: table-cell;
      box-sizing: border-box;
      vertical-align: middle;
    }

    > .form-wrapper > .form-wrapper .line-item-row-wrapper-with-image.line-item-row-with-discount .line-item-col {
      height: 212px;
      vertical-align: middle;
    }

    .image-wrapper {
      width: 12%;
      padding-right: 2%;

      img {
        margin: 0;
        width: 100%;
        height: auto;
      }
    }

    .title-wrapper {
      width: 36%;
      padding-right: 2%;
    }

    .price-edit-wrapper {
      width: 17%;
    }

    .quantity-wrapper {
      width: 12%;
    }

    .total-wrapper {
      width: 15%;
    }

    > .form-wrapper > .form-wrapper .commerce-pos-discount-wrapper {

    }
  }

  #commerce-pos-sale-wrapper .line-item-row-wrapper-with-image.line-item-row-with-discount .commerce-pos-discount-wrapper {
    position: absolute;
    width: 89%;
  }

  #commerce-pos-sale-wrapper .commerce-pos-discount-wrapper .form-wrapper {
    padding-right: 54px;

    input[type="submit"],
    input[type="submit"].blue {
      width: 23px;

      &.commerce-pos-percent-discount-submit {
        right: 26px;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  #commerce-pos-sale-wrapper .commerce-pos-discount-wrapper .form-wrapper {
    padding-right: 80px;

    input[type="submit"],
    input[type="submit"].blue {
      width: 35px;

      &.commerce-pos-percent-discount-submit {
        right: 40px;
      }
    }
  }
}

#commerce-pos-product-no-results-message {
  text-align: center;
}

/** Styling for return order search. **/
#commerce-pos-sale-wrapper {
  #commerce-pos-return-order-search {
    .form-type-textfield {
      display: inline-block;
    }

    .form-submit {
      display: inline-block;
      vertical-align: top;
      height: 29px;
      margin-top: 6px;
      padding: 6px 12px;
      font-size: 14px;
    }
  }

  #commerce-pos-form-modal-modal {
    height: auto !important;

    .form-submit {
      padding: 12px 20px;
      margin-bottom: 10px;
      font-size: 16px;
    }
  }

  #commerce-pos-return-select-all {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    text-align: left;
    font-size: 13px;
  }

  .form-item-return-items {
    margin: 0 0 20px;

    .form-type-checkbox {
      margin: 0 0 10px;
      text-align: left;
      border: 1px solid #cccccc;
      padding-left: 48px;

      input.form-checkbox {
        display: none;
      }

      label.option {
        display: inline-block;
        width: 100%;
        min-height: 100px;
        padding: 3px 0;
        margin: 0;

        // Checkbox.
        &::before {
          top: calc(50% - 14px);
          left: 8px;
          height: 28px;
          width: 28px;
          border: 1px solid #ccc;
          border-radius: 4px;
          background-image: none;
          background-color: #fff;
          background-position: center center;
        }

        .commerce-pos-return-product-image {
          display: inline-block;
          vertical-align: middle;
          height: 100px;
          width: 100px;
          overflow: hidden;
          border: 1px solid #ccc;

          img {
            height: 100px;
            width: 100px;
          }
        }

        .commerce-pos-return-product-info {
          display: inline-block;
          vertical-align: middle;
          width: calc(100% - 110px);
          padding: 5px 0 5px 20px;
          font-weight: bold;
          line-height: 1.2em;

          div {
            margin-bottom: 5px;

            .label {
              font-weight: normal;
            }
          }

          .commerce-pos-return-product-sku {
            font-weight: normal;

            label {
              font-weight: bold;
            }
          }
        }
      }

      // Checkbox checked.
      &.commerce-pos-return-checkbox-checked {
        background-color: #E7F2D8;

        label.option::before {
          background-image: url(../images/check-2x.png);
          background-size: 21px 16px;
        }
      }
    }
  }

  .form-radios {
    .form-item {
      display: inline-block;
      padding-right: 40px;

      @media (max-width: 870px) {
        padding-right: 15px;
      }

      @media (max-width: 500px) {
        width: 100%;
        padding-right: 0;
        text-align: left;
      }

      &:last-of-type {
        padding-right: 0;
      }

      input {
        width: 15px;
      }

      label {
        display: inline-block;
        vertical-align: text-bottom;
        padding-top: 2px;
        font-size: 16px;
      }
    }
  }

  #commerce-pos-return-item-title {
    margin: 20px 0 15px;
    font-weight: normal;
  }
}
