//
//---PRODUCT SEARCH---
//

[id^="commerce-pos-sale"] .commerce-pos-product-search-container {
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  background: #f0f0f0;

  .form-item {
    margin: 5px 0;
  }

  // Don't show label, but leave there for screen readers
  label {
    display: none;
  }

  input {
    position: relative;
    margin: 0 auto 5px;
    height: 40px;
    width: 400px;
    color: #000;
  }

  input[id^="edit-order-search-input"] {
    width: 320px;
  }

  /* Placeholder */
  input::-moz-placeholder {  /* Firefox */
    color: #7D7D7D;
  }

  input::-webkit-input-placeholder {
    /* Chrome, Safari, Opera */
    color:#7D7D7D;
  }

  input:-ms-input-placeholder {
    /* IE10–11 */
    color:#7D7D7D !important;
  }

  /* Placeholder on input:focus */
  input:focus::-moz-placeholder {
    /* Firefox */
    color:transparent;
  }

  input:focus::-webkit-input-placeholder {
    /* Chrome, Safari, Opera */
    color:transparent;

  }

  input:focus:-ms-input-placeholder {
    /* IE10–11 */
    color:transparent !important;
  }

  .commerce-pos-search-onboarding-message {
    margin: 0 0 10px 0;
    font-size: 16px;
  }

  .form-item div.description {
    font-size: 13px;
    color:#7D7D7D;
    font-style:italic;
    margin-top: 12px;
  }
}

/* Form-item search override. */
#commerce-pos-sale-wrapper .commerce-pos-product-search-container .form-item {
  margin: 5px 0;
}

.commerce-pos-product-display {
  padding: 10px 10px 15px;
  border-bottom: 1px solid #eee;
  transition: all .2s ease-in-out;

  &:hover, &:focus {
    background: #F0F0F0;
  }

  .display-image {
    float: left;
    margin: 5px 15px 0 0;
    border: 1px solid #eee;
  }

  .display-details,
  .display-stock,
  .display-price,
  .display-add {
    /* Clear image */
    padding-left: 90px;
  }

  .display-details {
    font-size: 10px;
  }

  .display-details .title {
    font-weight: bold;
    font-size: 18px;
  }

  .display-price {
    font-weight: bold;
  }

  .display-add {
    float: right;
  }

  .display-add a {
    display: inline-block;
    padding: 0 8px 2px;
    margin: 5px 0 0 0;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
    background-color: $primary;
    color: white;
    transition: all .15s ease-in-out;
  }

  .display-add a:hover,
  .display-add a:focus {
    background-color: $primary-hover;
  }

  .display-details a {
    display: inline-block;
  }
}

.commerce-pos-transaction-product-search-item.selected .commerce-pos-product-display {
  background: #F0F0F0;
}

.ui-autocomplete {
  max-height: 600px;
  overflow-y: auto;
}

.ui-autocomplete {
  max-height: 600px;
  overflow-y: auto;
}
