//
//---SIDEBAR---
//

.commerce-pos-col-transaction-info #commerce-pos-pay-balance-wrapper,
.commerce-pos-col-transaction-info #commerce-pos-transactions-options-wrapper {
  .commerce-price-formatted-components {
    margin-top: 0;
  }

  table > tbody {
    border: 0;
  }

  table > tbody > tr {
    width: 100%;
    max-width: 100%;
  }

  table > tbody > tr > td {
    border: 0;
  }

  table > tbody > tr > td:last-of-type {
    text-align: right;
  }

  table.commerce-pos-sidebar-table tr * {
    background: #f0f0f0;
  }

  table.commerce-pos-sidebar-table {
    width: 100%;
    font-size: 14px;
    border: 0;

    tr, tr.odd, tr.even {
      padding: 0;
      width: 100%;
      background-color: #F0F0F0;
      color: #333;
      border: 0;
      border-bottom: 1px solid #FFFFFF;
    }

    tr.order-to-pay {
      background: #313131;
      font-size: 120%;

      td {
        background: #313131;
        color: #fff;
      }
    }

    tr.order-change {
      font-size: 120%;
    }

    td:nth-child(1) {
      font-weight: bold;
    }

    td.balance {
      font-weight: bold;
    }

    tr {
      td {
        padding: 15px 10px;
        border: 0;

        &.status,
        &.actions {
          text-align: center;
        }
      }

      td,
      td.status img {
        vertical-align: middle;
      }

      td.status img {
        border-radius: 50%;
      }
    }
  }

  .label {
    font-size: inherit;
    border-radius: 0;
    color: inherit;
  }

  .btn {
    margin-bottom: 5px;
  }

  input,
  select {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 2px;
  }

  .form-item {
    padding: 0;
    margin: 0 0 20px 0;
  }

  #commerce-pos-customer-input-wrapper {
    border-top: 1px solid #eee;
    margin: 25px 0 0 0;
    padding: 20px 0 0 0;
  }
}

// To Pay - Color changes based on balance.
#commerce-pos-sale-wrapper.sale,
#commerce-pos-pay-form-wrapper.sale {
  .commerce-pos-col-transaction-info #commerce-pos-pay-balance-wrapper,
  .commerce-pos-col-transaction-info #commerce-pos-transactions-options-wrapper {
    table.commerce-pos-sidebar-table tr.order-to-pay {
      &.order-to-pay-positive td.balance {
        background: #dd0000;
      }
    }
  }
}

//Discount
#commerce-pos-sale-wrapper #commerce-pos-discount-add-order-discount-wrapper {
  margin: 20px 0;
  font-size: 0;

  .form-item.form-item-transaction-options-actions-add-order-discount-amount {
    font-size: 0;
  }

  .form-text {
    width: calc(33.33% - 4px);
    padding: 10px;
    margin: 0 4px 0 0;
    vertical-align: top;
    display: inline-block;
    font-size: 12px;
    line-height: 1.3;
    height: 35px;
  }

  .form-submit {
    width: calc(33.33% - 2px);
    padding: 10px;
    display: inline-block;
    font-size: 12px;
    line-height: 1.3;
  }

  #edit-transaction-options-actions-add-order-discount-percent.form-submit {
    margin: 0 2px 0 0;
  }

  #edit-transaction-options-actions-add-order-discount-fixed.form-submit {
    margin: 0 0 0 2px;
  }
}

#commerce-pos-transactions-options-wrapper .form-item label {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
}

.form-item.form-item-transaction-options-actions-add-order-discount-amount {
  margin-bottom: 5px;
  display: inline;
}

#commerce-pos-transactions-options-wrapper {
  .commerce-price-formatted-components {
    width: 100%;
    max-width: 100%;
  }

  .payment-totals-table {
    width: 100%;
    margin-bottom: 20px;
  }

  .views-table {
    width: 100%;
    margin-top: 0;
  }
}

.commerce-price-formatted-components .component-title, .payment-totals-table .label {
  font-weight: bold;
}

#commerce-pos-pay-balance-wrapper .pager {
  margin: 0 0 20px 0;
}
