//
//---SIDEBAR---
//

.commerce-pos-col-transaction-info #commerce-pos-pay-balance-wrapper,
.commerce-pos-col-transaction-info #commerce-pos-transactions-options-wrapper {
  .commerce-price-formatted-components {
    margin-top: 0;
  }

  table > tbody {
    border: 0;
  }

  table > tbody > tr {
    width: 100%;
    max-width: 100%;
  }

  table > tbody > tr > td {
    border: 0;
  }

  table > tbody > tr > td:last-of-type {
    text-align: right;
  }

  table.commerce-pos-sidebar-table {
    width: 100%;
    font-size: 14px;
    border: 0;

    tr, tr.odd, tr.even {
      padding: 0;
      width: 100%;
      background-color: #F0F0F0;
      color: #333;
      border: 0;
      border-bottom: 1px solid #FFFFFF;
    }

    tr.order-to-pay-positive {
      background: #313131;
      font-size: 120%;

      td {
        background: #313131;
        color: #fff;
      }
    }

    tr.order-to-pay-none {
      display: none;
    }

    tr.order-change {
      font-size: 120%;

      td {
        background: #313131;
        color: #fff;
      }
    }

    td:nth-child(1) {
      font-weight: bold;
    }

    td.balance {
      font-weight: bold;
    }

    tr {
      td {
        padding: 15px 10px;
        border: 0;

        &.has-second-row {
          padding-bottom: 7px;
        }
      }

      td {
        vertical-align: top;
      }
    }
  }

  // Gratuity.
  a.commerce-pos-apply-change-gratuity {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0 0 0 25px;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      content: '';
      width: 22px;
      height: 18px;
      background: url(../images/gratuity.svg) 0 2px no-repeat;
      background-size: 22px 18px;
    }

    span {
      position: relative;
      bottom: 2px;
      color: #fff;
      font-weight: bold;
      opacity: 0;
    }
  }
  a.commerce-pos-apply-change-gratuity:hover {
    text-decoration: none;

    span {
      opacity: 1;
    }
  }

  .label {
    font-size: inherit;
    border-radius: 0;
    color: inherit;
  }

  .btn {
    margin-bottom: 5px;
  }

  input,
  select {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 2px;
  }

  .form-item {
    padding: 0;
    margin: 0 0 20px 0;
  }

  .commerce-pos-payment-transaction-remote-id {
    color: #999;
    font-weight: normal;
  }

  #commerce-pos-customer-input-wrapper {
    border-top: 1px solid #eee;
    margin: 25px 0 0 0;
    padding: 20px 0 0 0;
  }

  // Gratuities.
  #commerce-pos-gratuity-add-order-gratuity-wrapper {
    clear: both;
    margin-top: 15px;

    // Clearfix.
    &:after {
      content: "";
      display: table;
      clear: both;
    }

    .commerce-pos-gratuity-label {
      clear: both;
      font-weight: bold;
      margin-bottom: 5px;
    }
    .commerce-pos-gratuity-input {
      float: left;
      width: 25%;

      input {
        height: 40px;
      }
    }
    .commerce-pos-gratuity-percent-button,
    .commerce-pos-gratuity-fixed-button {
      width: 35%;
      float: left;
      margin: 0 0 0 2%;

      input {
        padding: 8px 0;
        height: 40px;
        font-size: 15px;
        background: #337ab7;

        &:hover,
        &:focus {
          background: #2e6da4;
        }
      }
    }
  }
}

// To Pay - Color changes based on balance.
#commerce-pos-sale-wrapper.sale,
#commerce-pos-pay-form-wrapper.sale {
  .commerce-pos-col-transaction-info #commerce-pos-pay-balance-wrapper,
  .commerce-pos-col-transaction-info #commerce-pos-transactions-options-wrapper {
    table.commerce-pos-sidebar-table tr.order-to-pay {
      &.order-to-pay-positive td.balance {
        background: #dd0000;
      }
    }
  }
}

//Discount
#commerce-pos-sale-wrapper #commerce-pos-discount-add-order-discount-wrapper {
  font-size: 0;

  .form-item.form-item-transaction-options-actions-add-order-discount-amount {
    font-size: 0;
  }

  .form-text {
    width: calc(33.33% - 4px);
    padding: 10px;
    margin: 0 4px 0 0;
    vertical-align: top;
    display: inline-block;
    font-size: 12px;
    line-height: 1.3;
    height: 35px;
  }

  .form-submit {
    width: calc(33.33% - 2px);
    padding: 10px;
    display: inline-block;
    font-size: 12px;
    line-height: 1.3;
  }

  #edit-transaction-options-actions-add-order-discount-percent.form-submit {
    margin: 0 2px 0 0;
  }

  #edit-transaction-options-actions-add-order-discount-fixed.form-submit {
    margin: 0 0 0 2px;
  }
}

#commerce-pos-transactions-options-wrapper .form-item label {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
}

.form-item.form-item-transaction-options-actions-add-order-discount-amount {
  margin-bottom: 5px;
  display: inline;
}

#commerce-pos-transactions-options-wrapper {
  .commerce-price-formatted-components {
    width: 100%;
    max-width: 100%;
  }

  .payment-totals-table {
    width: 100%;
    margin-bottom: 20px;
  }

  .views-table {
    width: 100%;
    margin-top: 0;
  }
}

.commerce-price-formatted-components .component-title, .payment-totals-table .label {
  font-weight: bold;
}

#commerce-pos-pay-balance-wrapper .pager {
  margin: 0 0 20px 0;
}
