//Commerce POS Styles
@import 'base';
@import 'table';

.form-item-order-lookup-search-box {
  width: 200px;
  display: inline-block;
}

.order-lookup-search.button {
  display: inline-block;
}

#order-lookup-results {
  clear: both;
}

.commerce-order-form,
#commerce-pos-pay-form-wrapper {
  input.commerce-pos-pay-keypad-remove {
    margin: 0;
    float: right;
    padding: 0 10px;
    cursor: pointer;
    box-shadow: none;

    &:active,
    &:focus,
    &:hover {
      box-shadow: none;
      text-decoration: underline;
    }
  }

  .button {
    margin: 10px 8px 10px 0;
    @media screen and (max-width: 1078px) {
      margin: 10px 8px 15px 0;
    }
  }

  #edit-notes,
  #edit-payment {
    padding-top: 40px;
  }
}
// Temporary until better widgets are available from commerce
.tabledrag-toggle-weight-wrapper {
  display: none;
}

.field-multiple-drag {
  display: none;
}

#edit-actions,
#edit-adjustments-wrapper,
#edit-coupons-wrapper,
#edit-mail-wrapper,
#edit-uid-wrapper {
  margin-top: 2em;
}

#commerce-pos-sale-keypad-wrapper {
  padding: 1em 0;
}

#edit-payment-gateway {
  padding: 1em;
}

.commerce-pos-payment-keypad-amount {
  margin-bottom: 1em;
}

#coupons-values {
  input {
    width: 100%;
    margin: 10px 0;
  }
}

#adjustments-values {
  select {
    margin: 10px 0;
  }
}

// Order Items.
table[id*="edit-order-items-target-id-order-items"] {
  tbody > tr > td:first-child {
    // Set a min-width on product cells.
    min-width: 200px;
  }
}

// POS Main Table styles.
.layout-region-pos-main table {
  // Set as return field - Keep on a single line.
  div[class*="form-item-set-order-item-as-return"] {
    white-space: nowrap;
  }

  // Commerce Number fields.
  .form-type-commerce-number {
    input {
      width: 70px;
    }
  }

  // Prevent currency suffix text from wrapping.
  .form-type-commerce-number[class*="form-item-order-items-target-id-order-items"] {
    white-space: nowrap;
  }

  // Target ID number fields.
  .form-type-number[class*="form-item-order-items-target-id-order-items"] {
    input {
      width: 70px;
    }
  }

  // Remove vertical margins on remove order item button.
  input[name^="remove_order_item"] {
    margin-top: 0;
    margin-bottom: 0;
  }
}

// Prevent inputs from overflowing their containers.
table[id*="adjustments-values"],
table[id*="coupons-values"] {
  .form-item[class*="-definition-label"],
  .form-item[class*="form-item-coupons"] {
    .form-text {
      width: 100%;
    }
  }
}
