//Commerce POS Styles
@import 'base';

.form-item-order-lookup-search-box {
  width: 200px;
  display: inline-block;
}

.order-lookup-search.button {
  display: inline-block;
}

#order-lookup-results {
  clear: both;
}

#commerce-pos,
#commerce-pos-pay-form-wrapper {
  input.commerce-pos-pay-keypad-remove {
    margin: 0;
    float: right;
    padding: 0 10px;
    cursor: pointer;
    box-shadow: none;
    &:hover,
    &:active,
    &:focus {
      box-shadow: none;
      text-decoration: underline;
    }
  }
  .button {
    margin: 0 8px 10px 0;
    @media screen and (max-width: 1078px) {
      margin: 0 8px 15px 0;
    }
  }
  #edit-payment, #edit-notes {
    padding-top: 40px;
  }
}

// Temporary until better widgets are available from commerce
.tabledrag-toggle-weight-wrapper {
  display: none;
}

.field-multiple-drag {
  display: none;
}

#edit-adjustments-wrapper, #edit-coupons-wrapper, #edit-mail-wrapper, #edit-uid-wrapper, #edit-actions {
  margin-top: 2em;
}

#edit-payment-gateway, #commerce-pos-sale-keypad-wrapper {
  padding: 1em;
}

.commerce-pos-payment-keypad-amount {
  margin-bottom: 1em;
}
