/* Commerce POS Form */
.button {
  margin: 10px 8px 10px 0;
  @media screen and (max-width: 1078px) {
    margin: 10px 8px 15px 0;
  }
}

#edit-notes,
#edit-payment {
  padding-top: 40px;
}
// Temporary until better widgets are available from commerce

.tabledrag-toggle-weight-wrapper {
  display: none;
}

.field-multiple-drag {
  display: none;
}

#edit-actions,
#edit-adjustments-wrapper,
#edit-coupons-wrapper,
#edit-mail-wrapper,
#edit-uid-wrapper {
  margin-top: 2em;
}

#commerce-pos-sale-keypad-wrapper {
  padding: 1em 0;
}

#edit-payment-gateway {
  padding: 1em;
}

.commerce-pos-payment-keypad-amount {
  margin-bottom: 1em;
}

#coupons-values {
  input {
    width: 100%;
    margin: 10px 0;
  }
}

#adjustments-values {
  select {
    margin: 10px 0;
  }
}

#commerce-pos-pay-form-wrapper,
.commerce-order-form {
  input.commerce-pos-pay-keypad-remove {
    margin: 0;
    float: right;
    padding: 0 10px;
    cursor: pointer;
    box-shadow: none;

    &:active,
    &:focus,
    &:hover {
      box-shadow: none;
      text-decoration: underline;
    }
  }
}
