{#
/**
 * @file
 * Default theme implementation for the commerce_pos_keypad keypad.
 *
 * Variables:
 *  - $event: The event to trigger.
 *  - $input_type: The type of element to show the currently entered value.
 *    Defaults to "text".
 *
 * @ingroup themeable
 */
#}

  <div class="commerce-pos-keypad">
    <div class="commerce-pos-keypad-keys">
      <div class="commerce-pos-keypad-numbers">
        <div class="commerce-pos-keypad-key" data-keybind="7">7</div>
        <div class="commerce-pos-keypad-key" data-keybind="8">8</div>
        <div class="commerce-pos-keypad-key" data-keybind="9">9</div>
        <div class="commerce-pos-keypad-key" data-keybind="4">4</div>
        <div class="commerce-pos-keypad-key" data-keybind="5">5</div>
        <div class="commerce-pos-keypad-key" data-keybind="6">6</div>
        <div class="commerce-pos-keypad-key" data-keybind="1">1</div>
        <div class="commerce-pos-keypad-key" data-keybind="2">2</div>
        <div class="commerce-pos-keypad-key" data-keybind="3">3</div>
        <div class="commerce-pos-keypad-key" data-keybind="0">0</div>
        <div class="commerce-pos-keypad-key" data-keybind="00">00</div>
        <div class="commerce-pos-keypad-key" data-keybind="000">000</div>
        <div class="commerce-pos-keypad-key" data-keybind=".">.</div>
      </div>

      <div class="commerce-pos-keypad-actions">
        <div class="commerce-pos-keypad-key" data-key-action="backspace">&lt;</div>
        <div class="commerce-pos-keypad-key clear-key" data-key-action="clear">C</div>
      </div>
    </div>
  </div>

