{#
/**
 * @file
 * Default theme implementation for the commerce_pos_keypad keypad.
 *
 * Variables:
 *  - $event: The event to trigger.
 *  - $input_type: The type of element to show the currently entered value.
 *    Defaults to "text".
 *
 * @ingroup themeable
 */
#}

  <div class="commerce-pos-keypad">
    <div class="commerce-pos-keypad-top">
      <div class="commerce-pos-keypad-quick-pay">
          {%  if element.quick_pay %}
            <label>Quick Pay</label>
              {{ element.quick_pay }}
          {% endif %}
      </div>
      <div class="commerce-pos-keypad-title"></div>
      <div class="commerce-pos-keypad-close"></div>
      <div class="commerce-pos-keypad-amount">
          {{ element.amount }}
      </div>
    </div>
    <div class="commerce-pos-keypad-keys">
      <div class="commerce-pos-keypad-numbers">
        <div class="commerce-pos-keypad-key" data-keybind="7">7</div>
        <div class="commerce-pos-keypad-key" data-keybind="8">8</div>
        <div class="commerce-pos-keypad-key" data-keybind="9">9</div>
        <div class="commerce-pos-keypad-key" data-keybind="4">4</div>
        <div class="commerce-pos-keypad-key" data-keybind="5">5</div>
        <div class="commerce-pos-keypad-key" data-keybind="6">6</div>
        <div class="commerce-pos-keypad-key" data-keybind="1">1</div>
        <div class="commerce-pos-keypad-key" data-keybind="2">2</div>
        <div class="commerce-pos-keypad-key" data-keybind="3">3</div>
        <div class="commerce-pos-keypad-key" data-keybind="0">0</div>
        <div class="commerce-pos-keypad-key" data-keybind="00">00</div>
        <div class="commerce-pos-keypad-key" data-keybind="000">000</div>
        <div class="commerce-pos-keypad-key" data-keybind=".">.</div>
      </div>

      <div class="commerce-pos-keypad-actions">
        <div class="commerce-pos-keypad-key" data-keybind="">&lt;</div>
        <div class="commerce-pos-keypad-key clear-key" data-keybind="Clear">C</div>
          {{ element.add }}
      </div>
    </div>
      {{ element.children }}
  </div>

