//
//---REPORTS---
//
#edit-date {
  //Fix item label position
  float: none;
}

#commerce-pos-report-end-of-day {

  .form-item.form-item-location-id {
    margin: 0 15px 15px 0;
  }

  .form-item-location-id label {
    margin-bottom: 5px;
  }
}

#commerce-pos-report-results-container {
  padding-top: 14px;
  overflow-x: auto;

  table {
    margin: 0;
    width: 100%;
  }

  input[type="submit"] {
    -webkit-appearance: none;
    cursor: pointer;
    color: #fff;
    font-weight: normal;
    font-size: 18px;
    outline: 0;
    overflow: hidden;
    padding: 11px 23px;
    margin: 8px 18px 8px 0;
    width: auto;
    display: inline-block;
    border-radius: 6px;
    border: none;
    background: #5cb85c;
    transition: all .15s ease-in-out;
  }

  input[type="submit"]:hover, input[type="submit"]:focus {
    background: #3a963a;
  }
}

.sticky-enabled.tableheader-processed.sticky-table {
  thead th {
    background-color: #E4E4E4;
    color: inherit;
    padding: 15px;
    font-weight: bold;
    border-color: transparent;
    border-right: 1px solid #fff;
  }

  tr.odd,
  tr.even {
    background-color: #FFFFFF;
    border-color: transparent;
    border-bottom: 1px solid #eee;
  }

  tr td {
    padding: 15px;
  }
}

