//
//---SIDEBAR---
//


#commerce-pos-pay-balance-wrapper .form-actions {
  margin: 20px 0;
}

.commerce-price-formatted-components {
  margin-top: 0;
}

.commerce-pos-col-transaction-info {
  .btn {
    margin-bottom: 5px;
  }

  .table-striped > tbody > tr:nth-of-type(2n+1),
  .table-striped > tbody > tr {
    background: #fff;
  }

  table {
    width: 100%;
    font-size: 14px;
    border: 0;

    tbody {
      border: 0;
    }

    tr.odd, tr.even {
      padding: 0;
      width: 100%;
      background-color: #F0F0F0;
      color: #333;
      border: 0;
      border-bottom: 1px solid #FFFFFF;
    }

    tr.order-to-pay {
      background: #313131;
      font-size: 120%;

      td {
        color: #fff;
      }
    }

    tr.order-change {
      font-size: 120%;
      font-style: italic;
    }

    td:nth-child(1) {
      font-weight: bold;
    }

    td:nth-child(2) {
      text-align: right;
    }

    td.balance {
      font-weight: bold;
    }

    tr {
      td {
        padding: 15px 10px;
        border: 0;
      }
    }
  }
}

#commerce-pos-sale-wrapper #commerce-pos-discount-add-order-discount-wrapper {
  margin: 20px 0;

  .form-text {
    padding: 9px;
    height: 34px;
    margin: 0 2px 0 0;
    vertical-align: middle;
  }

  .form-submit {
    margin: 0 5px 0 0;
  }
}

.form-item-transaction-options-customer label {
  margin-bottom: 5px;
}

.form-item-transaction-options-actions-add-order-discount-amount {
  margin-bottom: 5px;
  display: inline;

  label {
    margin-bottom: 5px;
  }
}

#commerce-pos-sale-wrapper #commerce-pos-discount-add-order-discount-wrapper input[type="submit"] {
  width: auto;
  display: inline-block;
}

#commerce-pos-transactions-options-wrapper {
  .commerce-price-formatted-components {
    width: 100%;
    max-width: 100%;
  }

  .payment-totals-table {
    width: 100%;
    margin-bottom: 20px;
  }

  .views-table {
    width: 100%;
    margin-top: 0;
  }
}

.commerce-price-formatted-components .component-title, .payment-totals-table .label {
  font-weight: bold;
}

#commerce-pos-pay-balance-wrapper .pager {
  margin: 0 0 20px 0;
}
