//
//---TERMINAL--
//

.commerce-pos-terminal-pending-transactions-overlay {
  background: $overlay-medium;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9998;
}

.commerce-pos-terminal-pending-transactions-actions {
  background: #fff;
  border: 2px solid #666;
  height: 33%;
  left: 50%;
  padding: 20px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  z-index: 9999;

  @media screen and (min-width: 767px) {
    width: 50%;
  }

  @media screen and (min-width: 980px) {
    width: 33%;
  }
}
