/*---------------------*/
/*Colours*/
/*---------------------
Primary Colour (Blue): #0091FF
Primary Color Hover: #087FDA
Secondary Colour (Orange): #ff9900
Secondary Colour Hover: #E28B07
*/

$primary: #0091FF;
$primary-hover: #087FDA;
$secondary: #ff9900;
$secondary-hover: #E28B07;