/*---------------------*/
/*Colours*/
/*---------------------
Primary Colour (Blue): #0091FF
Primary Color Hover: #087FDA
Secondary Colour (Orange): #ff9900
Secondary Colour Hover: #E28B07
*/

$primary: #337ab7;
$primary-hover: #2e6da4;

$secondary: #5cb85c;
$secondary-hover: #4cae4c;

$border-color: #ddd;

$overlay-medium: rgba(0, 0, 0, .50);