/**
 * @file
 * Styles to format the Commerce POS Journal Role report.
 */

/* -- Transaction Date Section -- */

.container-inline-date {
  float: left;
  margin-right: 10px;
}

.container-inline-date label {
  border-bottom: none;
  font-size: 14px;
}

.commerce-pos-report-transaction-date-header label,
.form-item-filters-register label,
.form-item-register-id label {
  font-size: 14px;
}

.commerce-pos-report-transaction-date-header .form-item {
  margin: 0;
  padding: 0;
}

.form-item-filters-register,
.form-item-register-id {
  float: left;
}

.page-admin-commerce-pos-reports .container-inline-date .form-item .form-item,
.page-admin-commerce-pos-reports .form-item-filters-register,
.page-admin-commerce-pos-reports .form-item-register-id {
  padding: 9px 0;
}

.container-inline-date .form-item select,
.form-item-filters-register select.form-select,
.form-item-register-id select.form-select {
  margin: 2px 8px 0 0;
  height: 34px;
  min-width: 80px;
  font-size: 15px;
  color: #666;
  outline: 0;
}

/* -- Report Option Buttons -- */

.item-list {
  clear: both;
}

.item-list .commerce-pos-report-options {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.item-list .commerce-pos-report-options li {
  display: inline-block;
  margin: 5px 15px 0 0;
  padding: 0;
}

.item-list .commerce-pos-report-options li a {
  border-radius: 5px;
  background-color: #f5f5f5;
  font-size: 20px;
  line-height: 20px;
  padding: 9px 17px 7px;
  color: #666;
  display: inline-block;
  position: relative;
}

.item-list .commerce-pos-report-options li a.active,
.item-list .commerce-pos-report-options li a:hover {
  color: #fff;
  background-color: #337ab7;
  text-decoration: none;
}

.commerce-pos-report-ico-eod {
  position: relative;
  bottom: 3px;
  background: url(../../../images/sprite_icons.png) 0 0;
  width: 18px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

a.active .commerce-pos-report-ico-eod,
a:hover .commerce-pos-report-ico-eod {
  background-position: -28px 0;
}

.commerce-pos-report-ico-journal-role {
  position: relative;
  bottom: 2px;
  background: url(../../../images/sprite_icons.png) -56px 0;
  width: 18px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

a.active .commerce-pos-report-ico-journal-role,
a:hover .commerce-pos-report-ico-journal-role {
  background-position: -80px 0;
}

.commerce-pos-report-ico-checked {
  position: relative;
  bottom: 3px;
  background: url(../../../images/sprite_icons.png) -108px 0;
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
}

/* -- Report Filters -- */

#commerce-pos-report-journal-role-options-container {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 15px 0;
  padding: 16px 0;
}

#commerce-pos-report-journal-role-options-container .form-item {
  margin: 0;
  padding: 0;
}

#commerce-pos-report-journal-role-options-container .form-item,
#commerce-pos-report-journal-role-options-container .form-item label,
#commerce-pos-report-journal-role-options-container .form-item select {
  display: inline-block;
  outline: 0;
}

#commerce-pos-report-journal-role-options-container .form-item label {
  font-size: 16px;
  font-weight: normal;
  padding-right: 16px;
}

#commerce-pos-report-journal-role-options-container .form-item select {
  margin-right: 35px;
  height: 34px;
  min-width: 130px;
  font-size: 15px;
  color: #666;
  outline: 0;
}

#commerce-pos-report-journal-role-options-container .form-item select#edit-options-results-per-page {
  min-width: 60px;
}

/* -- Pager -- */

.page-admin-commerce-pos-journal-role #commerce-pos-report-journal-role-options-container .item-list,
.page-admin-commerce-pos-journal-role #commerce-pos-report-journal-role-container .item-list {
  display: inline-block;
  float: right;
}

.page-admin-commerce-pos-journal-role ul.pager {
  padding: 0;
  margin: 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
}

.page-admin-commerce-pos-journal-role ul.pager li {
  padding: 0;
  margin: 0;
  float: left;
}


.page-admin-commerce-pos-journal-role ul.pager li.pager-current,
.page-admin-commerce-pos-journal-role ul.pager a {
  display: inline-block;
  border-right: 1px solid #ddd;
  height: 33px;
  padding: 0 15px;
  margin: 0;
  line-height: 33px;
}

.page-admin-commerce-pos-journal-role ul.pager li.pager-current {
  background: #337ab7;
  color: #fff;
}

.page-admin-commerce-pos-journal-role ul.pager a:hover,
.page-admin-commerce-pos-journal-role ul.pager a:focus {
  background-color: #f5f5f5;
  text-decoration: none;
}

.page-admin-commerce-pos-journal-role ul.pager li.last,
.page-admin-commerce-pos-journal-role ul.pager li.last a {
  border-right: 0;
}

/* -- Report Table -- */

#commerce-pos-report-journal-role-container table,
#commerce-pos-report-results-container table {
  margin: 0 0 25px;
  border: none;
}

#commerce-pos-report-journal-role-container table thead th,
#commerce-pos-report-journal-role-container table thead th.active,
#commerce-pos-report-results-container table thead th {
  background: #fff;
}

#commerce-pos-report-journal-role-container table thead th,
#commerce-pos-report-results-container table thead th {
  border-bottom: 2px solid #ddd;
  font-size: 16px;
  text-transform: none;
  text-align: center;
}

#commerce-pos-report-journal-role-container table thead th:first-of-type,
#commerce-pos-report-results-container table thead th:first-of-type {
  text-align: left;
}

#commerce-pos-report-journal-role-container table thead th:last-of-type {
  text-align: right;
}

#commerce-pos-report-journal-role-container table thead th a {
  color: #000;
}

#commerce-pos-report-journal-role-container table thead th a:hover,
#commerce-pos-report-journal-role-container table thead th a:focus {
  text-decoration: none;
  color: #337ab7;
}

#commerce-pos-report-journal-role-container table thead th img {
  position: relative;
  bottom: 1px;
  left: 6px;
  top: 0;
  right: 0;
}

#commerce-pos-report-journal-role-container table tbody tr,
#commerce-pos-report-results-container table tbody tr {
  background: #f5f5f5;
  border-top: 1px solid #e2e2e2;
  font-size: 14px;
}

#commerce-pos-report-results-container table tbody tr {
  border-top: none;
  border-bottom: none;
}

#commerce-pos-report-journal-role-container table tbody tr:hover,
#commerce-pos-report-journal-role-container table tbody tr.commerce-pos-report-opened {
  background: #e5ecf2;
}

#commerce-pos-report-journal-role-container table tbody tr:last-of-type:hover {
  background: #f5f5f5;
}

#commerce-pos-report-journal-role-container table tbody tr:first-of-type {
  border-top: none;
}

#commerce-pos-report-journal-role-container table tbody tr:last-of-type {
  border-top: 2px solid #ddd;
  font-weight: bold;
}

#commerce-pos-report-journal-role-container table tbody td.active {
  background: transparent;
  border-top: 1px solid #e2e2e2;
}

#commerce-pos-report-journal-role-container table tbody td,
#commerce-pos-report-results-container table tbody td {
  text-align: center;
  border: 0;
}

#commerce-pos-report-results-container table tbody td {
  padding: 8px 15px;
}

#commerce-pos-report-journal-role-container table tbody td:first-of-type,
#commerce-pos-report-results-container table tbody td:first-of-type {
  text-align: left;
}

#commerce-pos-report-results-container table tbody tr:first-of-type td {
  padding-top: 16px;
}

#commerce-pos-report-results-container table tbody tr:last-of-type td {
  padding-bottom: 18px;
}

#commerce-pos-report-journal-role-container table tbody td:last-of-type {
  text-align: right;
}

#commerce-pos-report-results-container table tbody td:last-of-type {
  border-right: 0;
}

#commerce-pos-report-results-container table tbody td input {
  margin: 0 8px;
  padding: 9px;
  width: 104px;
  font-size: 14px;
  text-align: right;
  outline: 0;
}

#commerce-pos-report-journal-role-container table tbody tr.commerce-pos-transaction-type-return td:last-of-type,
.commerce-pos-report-negative {
  color: #cc0000;
}

/* -- End Of Day Notice -- */

.commerce-pos-report-eod-notice {
  margin: 20px 0;
  font-size: 14px;
}
.commerce-pos-report-eod-notice p {
  margin: 7px 0;
  padding: 0;
  opacity: 0.7;
}

/* -- Order Info -- */

#commerce-pos-report-journal-role-container table tbody td.commerce-pos-report-journal-role-order-info {
  border-top: 2px solid #f5f5f5;
  background: #e5ecf2;
  padding: 6px 6px 0;
}

#commerce-pos-report-journal-role-container table tbody td.commerce-pos-report-journal-role-order-info > div {
  display: inline-block;
  width: 100%;
  background: #fff;
  padding-bottom: 20px;
}

/* -- Order Info - Print Button -- */

.commerce-pos-report-order-details-print {
  float: right;
  padding-right: 8px;
}

.commerce-pos-report-order-details-print a {
  position: relative;
}

.commerce-pos-report-order-details-print a::before {
  position: relative;
  bottom: 2px;
  right: 12px;
  content: '';
  background: url(../../../images/sprite_icons.png) -136px 0;
  width: 20px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
}

/* -- Order Info - Info Table -- */

.commerce-pos-report-order-details-container {
  background: #fff;
  padding: 12px 18px 10px;
  position: relative;
}

#commerce-pos-report-journal-role-container table tbody td .commerce-pos-report-order-details-container > table {
  border: none;
  margin: 0 !important;
  padding: 0;
  width: auto;
}

#commerce-pos-report-journal-role-container table tbody td .commerce-pos-report-order-details-container > table tr {
  border: none;
  background: transparent;
}

#commerce-pos-report-journal-role-container table tbody td .commerce-pos-report-order-details-container > table tr:hover {
  background: transparent;
}

#commerce-pos-report-journal-role-container table tbody td .commerce-pos-report-order-details-container > table tr td:last-of-type {
  font-weight: normal;
}

#commerce-pos-report-journal-role-container table tbody td .commerce-pos-report-order-details-container > table tr td {
  margin: 0;
  padding: 0 6px 6px 0;
  text-align: left;
}

#commerce-pos-report-journal-role-container table tbody td .commerce-pos-report-order-details-container > table tr td:nth-child(1) {
  font-weight: bold;
}

#commerce-pos-report-journal-role-container table tbody td .commerce-pos-report-order-details-container > table tr td:nth-child(3) {
  padding-left: 45px;
  font-weight: bold;
}

/* -- Order Info - Line Items Table -- */

#commerce-pos-report-journal-role-container table tbody td .commerce-pos-report-order-details-line-items > table + table thead tr {
  border: none;
}

#commerce-pos-report-journal-role-container table tbody td .commerce-pos-report-order-details-line-items > table + table thead th {
  border-bottom: 1px solid #ddd;
  text-align: center;
}

#commerce-pos-report-journal-role-container table tbody td .commerce-pos-report-order-details-line-items > table + table thead th:nth-child(3) {
  text-align: left;
}

#commerce-pos-report-journal-role-container table tbody td .commerce-pos-report-order-details-line-items > table + table thead th:last-of-type {
  text-align: right;
}

#commerce-pos-report-journal-role-container table tbody td .commerce-pos-report-order-details-line-items > table + table tbody tr {
  border-top: 1px solid #ddd;
  background: transparent;
}

#commerce-pos-report-journal-role-container table tbody td .commerce-pos-report-order-details-line-items > table + table tbody tr:hover {
  background: transparent;
}

#commerce-pos-report-journal-role-container table tbody td .commerce-pos-report-order-details-line-items > table + table tbody tr:last-of-type {
  font-weight: normal;
}

#commerce-pos-report-journal-role-container table tbody td .commerce-pos-report-order-details-line-items > table + table tbody td {
  text-align: center;
}

#commerce-pos-report-journal-role-container table tbody td .commerce-pos-report-order-details-line-items > table + table tbody td:nth-child(3) {
  text-align: left;
}

#commerce-pos-report-journal-role-container table tbody td .commerce-pos-report-order-details-line-items > table + table tbody td:last-of-type {
  text-align: right;
}

/* -- Order Info - Order Notes -- */

.commerce-pos-report-order-details-messages {
  float: left;
  text-align: left;
  max-width: 49%;
}

.commerce-pos-report-order-details-messages h3 {
  font-size: 14px;
}

.commerce-pos-report-order-details-messages .views-field-message-commerce-body {
  padding: 0;
  color: #666;
  font-style: italic;
  background: transparent;
  margin: 0 0 15px;
}

.commerce-pos-report-order-details-messages span.views-label-name {
  font-weight: bold;
}

/* -- Order Info - Total Table -- */

.commerce-pos-report-order-details-total {
  float: right;
  max-width: 49%;
}

#commerce-pos-report-journal-role-container table tbody td .commerce-pos-report-order-details-total table {
  border: none;
  margin: 0 !important;
  padding: 0;
}

#commerce-pos-report-journal-role-container table tbody td .commerce-pos-report-order-details-total table tr {
  border: none;
  background: transparent;
}

#commerce-pos-report-journal-role-container table tbody td .commerce-pos-report-order-details-total table tr:hover {
  background: transparent;
}

#commerce-pos-report-journal-role-container table tbody td .commerce-pos-report-order-details-total table tr td {
  margin: 0;
  padding: 0 18px 8px;
  text-align: right;
  font-weight: normal;
}

#commerce-pos-report-journal-role-container table tbody td .commerce-pos-report-order-details-total table tr.component-type-commerce-price-formatted-amount {
  border-top: 3px solid #ddd;
}

#commerce-pos-report-journal-role-container table tbody td .commerce-pos-report-order-details-total table tr.component-type-commerce-price-formatted-amount td {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 14px;
}

#commerce-pos-report-journal-role-container table tbody td .commerce-pos-report-order-details-payments {
  margin-top: 10px;
  padding-top: 15px;
  text-align: center;
}

#commerce-pos-report-journal-role-container table tbody td .commerce-pos-report-order-details-payments table tr td {
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  padding-top: 5px;
}
