
a.pos-button {
    border:1px solid #CCC;
    display:inline-block;
    padding:.5em;
}
a.pos-button.has-quantity {
    padding:0 0 0 .5em;
}
a.pos-button input.quantity {
    margin-left:.5em;
    font-size:1em;
    padding:.5em .25em;
    border-left:1px solid #CCC;
    text-align: center;
}

a.pos-button:hover {
    cursor: pointer;
    border-color:#999;
    background: #EEE;
}


/** PANE LAYOUT **/
#pos-pane-order, #pos-pane-commands {
    width: 47.5%;
    float: left;
}

#pos-pane-commands {
    margin-left: 5%;
}

/** BUTTONS */
#pos-pane-commands .pos-button {
    display: block;
    text-align: center;
    margin:.5em 1%;
    width:44%;
    float:left;
}

#pos-pane-commands .numbers {
    margin-right:1%;
}

#pos-pane-commands .numbers .pos-button {
    width: 25%;
    margin-left: 2%;
    float: right;
}

#pos-pane-commands .numbers .pos-button:nth-child(3),
#pos-pane-commands .numbers .pos-button:nth-child(6),
#pos-pane-commands .numbers .pos-button:nth-child(9) {
    margin-left: 0;
}

/** POS INPUT **/
#pos-pane-input .form-item,
#pos-pane-input .form-submit {
    display: inline-block;
}

/** ORDER TABLE **/
table.commerce-pos-order tr {
    background: transparent;
}

.commerce-pos-order tr.payment {
    font-style: italic;
}

.commerce-pos-order tr.order-balance,
.commerce-pos-order tr.total-paid {
    font-weight: bold;
    border-top-width: 1px;
}

.commerce-pos-order tr.total-paid + tr.order-balance {
    border-top-width: 0;
}

